nb-list nb-list-item,
nb-card,
fabric-explorer-pages router-outlet + * {
	display: block;
	animation: fade 1s;

	@keyframes fade {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

.row [class*='col-'] {
	transition: all 0.25s ease-in-out;
}
