<div class="d-flex justify-content-between w-100">
	<div class="header-container d-flex align-items-center">
		<div class="logo-container d-flex align-items-center">
			<a (click)="toggleSidebar()" class="sidebar-toggle cursor-pointer">
				<nb-icon icon="bars"></nb-icon>
			</a>
			<div class="pravici-logo">
				<img src="/assets/images/pravici_128x128.png" alt="Pravici Logo">
			</div>
			<a class="logo" routerLink="/">
				<span>{{ 'FABRIC_EXPLORER' | translate }}</span>
			</a>
		</div>
	</div>
	<span class="d-flex flex-grow"></span>
</div>

<ng-template #themeSwitcher let-data let-ref="dialogRef">
	<nb-card status="primary" class="dialog-card-sm">
		<nb-card-header>{{ 'THEME' | translate }}</nb-card-header>
		<nb-card-body>
			<nb-radio-group [(value)]="selectedTheme" (valueChange)="changeTheme($event)">
				<nb-radio *ngFor="let item of themes" [value]="item.value">{{ item.name }}</nb-radio>
			</nb-radio-group>
		</nb-card-body>
		<nb-card-footer>
			<div class="d-flex flex-row justify-content-end">
				<button nbButton class="ml-1" status="basic" (click)="ref.close()">
					<span>{{ 'CANCEL' | translate }}</span>
				</button>
				<button nbButton class="ml-1" status="primary" (click)="ref.close(selectedTheme)">
					<span>{{ 'PICK' | translate }}</span>
				</button>
			</div>
		</nb-card-footer>
	</nb-card>
</ng-template>

<ng-template #languageSwitcher let-data let-ref="dialogRef">
	<nb-card status="primary" class="dialog-card-sm">
		<nb-card-header>{{ 'LANGUAGE' | translate }}</nb-card-header>
		<nb-card-body>
			<nb-radio-group [(value)]="selectedLanguage" (valueChange)="changeLanguage($event)">
				<nb-radio *ngFor="let item of languages" [value]="item.value">{{ item.name }}</nb-radio>
			</nb-radio-group>
		</nb-card-body>
		<nb-card-footer>
			<div class="d-flex flex-row justify-content-end">
				<button nbButton class="ml-1" status="basic" (click)="ref.close()">
					<span>{{ 'CANCEL' | translate }}</span>
				</button>
				<button nbButton class="ml-1" status="primary" (click)="ref.close(selectedLanguage)">
					<span>{{ 'PICK' | translate }}</span>
				</button>
			</div>
		</nb-card-footer>
	</nb-card>
</ng-template>

<ng-template #keyboardShortcuts let-data let-ref="dialogRef">
	<nb-card status="primary" class="dialog-card-sm">
		<nb-card-header>{{ 'SHORTCUTS' | translate }}</nb-card-header>
		<nb-card-body>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">{{ 'SHORTCUT_KEY' | translate }}</th>
						<th scope="col">{{ 'SHORTCUT_ACTION' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><code>?</code></td>
						<td>{{ 'SHOW_SHORTCUTS' | translate }}</td>
					</tr>
					<tr>
						<td><code>alt + t</code></td>
						<td>{{ 'SWITCH_THEME' | translate }}</td>
					</tr>
					<tr>
						<td><code>alt + l</code></td>
						<td>{{ 'SWITCH_LANGUAGE' | translate }}</td>
					</tr>
					<tr>
						<td><code>alt + shift + x</code></td>
						<td>{{ 'LOGOUT' | translate }}</td>
					</tr>
				</tbody>
			</table>
		</nb-card-body>
		<nb-card-footer>
			<div class="d-flex flex-row justify-content-end">
				<button nbButton class="ml-1" status="basic" (click)="ref.close()">
					<span>{{ 'CLOSE' | translate }}</span>
				</button>
			</div>
		</nb-card-footer>
	</nb-card>
</ng-template>
