<nb-card>
	<nb-card-body>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">{{ 'HASH' | translate }}</th>
					<th scope="col" *ngIf="!simple">{{ 'TIMESTAMP' | translate }}</th>
					<th scope="col">{{ 'CHANNEL' | translate }}</th>
					<th scope="col">{{ 'CHAINCODE' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let tx of transactions">
					<td>
						<a routerLink='/transactions/{{ tx.id }}/details' class="text-monospace">
							<span *ngIf="simple">{{ tx.id.substr(0, 8) }}...</span>
							<span *ngIf="!simple">{{ tx.id }}</span>
						</a>
					</td>
					<td *ngIf="!simple">{{ tx.timestamp | date:'short' }}</td>
					<td>{{ tx.channelName }}</td>
					<td>{{ tx.chaincodeName }}</td>
				</tr>
			</tbody>
		</table>
		<ng-content></ng-content>
	</nb-card-body>
</nb-card>
