<div *ngIf="transaction">
	<div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a routerLink="/transactions">{{ 'TRANSACTIONS' | translate }}</a>
				</li>
				<li class="breadcrumb-item active">
					<span>{{ transaction.id }}</span>
				</li>
			</ol>
		</nav>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 col-lg-6">
			<nb-card>
				<nb-card-body>
					<h6 class="mb-0">Details</h6>
					<hr>
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold pb-1">Hash</span>
						<span>{{ transaction.id }}</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold pb-1">Timestamp</span>
						<span>{{ transaction.timestamp }}</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold pb-1">Channel Name</span>
						<a routerLink="/transactions" [queryParams]="{ channelName: transaction.channelName }">
							<span>{{ transaction.channelName }}</span>
						</a>
					</div>
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold pb-1">Block Height</span>
						<span>{{ transaction.blockHeight }}</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold pb-1">Block Hash</span>
						<a routerLink="/blocks/{{ transaction.blockHash }}/details">
							<span>{{ transaction.blockHash }}</span>
						</a>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-12 col-lg-6">
			<nb-card>
				<nb-card-body>
					<div>
						<h6>Chaincode</h6>
						<hr>
						<!-- <div class="d-flex justify-content-between">
							<span class="font-weight-bold pb-1">Name</span>
							<span>{{ transaction.chaincodeName }}</span>
						</div> -->
						<div class="font-weight-bold pb-1 pt-1">Reads</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{{ 'KEY' | translate }}</th>
									<th scope="col">{{ 'VERSION' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of transaction.chaincodeReads | keyvalue; let i = index">
									<td>{{ i + 1}}</td>
									<td>{{ item.key }}</td>
									<td>
										<a *ngIf="item.value" routerLink='/blocks'
											[queryParams]="{ channelName: transaction.channelName, height: item.value.block }"
											class="text-monospace">
											<span>{{ transaction.channelName }}/{{ item.value.block }}/{{ item.value.transaction }}</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<div class="font-weight-bold pb-1 pt-1">Writes</div>
						<table class="table container mb-0">
							<thead>
								<tr class="row m-0">
									<th scope="col" class="col-1">#</th>
									<th scope="col" class="col-4">{{ 'KEY' | translate }}</th>
									<th scope="col" class="col-7">{{ 'VALUE' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="row m-0" *ngFor="let item of transaction.chaincodeWrites | keyvalue; let i = index">
									<td class="col-1">{{ i + 1}}</td>
									<td class="col-4">{{ item.key }}</td>
									<td class="col-7">
										<div #el (click)="el.expanded = !el.expanded">
											<button [hidden]="el.expanded" nbButton size="tiny">View</button>
											<pre [hidden]="!el.expanded" class="cursor-pointer text-monospace">{{ item.value | json }}</pre>
										</div>
										<!-- <span class="text-monospace text-nowrap text-truncate">{{ item.value | json }}</span> -->
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<div class="font-weight-bold pb-1 pt-1">Response</div>
						<div>
							<pre>{{ transaction.chaincodeResponse | json }}</pre>
						</div>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
	</div>
</div>
